{% extends 'main.html' %}
{% load static %}

{% block title %}About page{% endblock %}

{% block content %}
    <div class="row row-cols-1 row-cols-md-3 g-4" style='margin: 40px auto; padding: 40px'>
        <div class="col">
            <div class="card h-100 shadow p-3 mb-5 bg-white rounded">
                <img src="{% static 'me.jpg' %}" class="img-fluid card-img-top rounded-circle" alt="..." style="width:256px; height:256px;margin: 40px auto; object-fit:cover">
                <div class="card-body">
                    <h5 class="card-title">พรี่ตุลย์</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
                    <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 shadow p-3 mb-5 bg-white rounded">
                <img src="{% static 'new.jpg' %}" class="img-fluid card-img-top rounded-circle" alt="..." style="width:256px; height:256px;margin: 40px auto; object-fit:cover">
                <div class="card-body">
                    <h5 class="card-title">พรี่นิว</h5>
                    <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                </div>
                    <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 shadow p-3 mb-5 bg-white rounded">
                <img src="{% static 'tong.jpg' %}" class="img-fluid card-img-top rounded-circle" alt="..." style="width:256px; height:256px;margin: 40px auto; object-fit:cover">
                    <div class="card-body">
                    <h5 class="card-title">พรี่ต้อง</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                </div>
                    <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </div>
        </div>
    </div>
{% endblock %}