{% extends 'main.html' %}

{% block title %}Success page{% endblock %}

{% block content %}
    <div class="d-flex" style="margin :40px">
        <div class="card shadow p-3 mb-5 bg-white rounded" style="width: 22rem; margin: auto;height: auto;">        
            <div class="card-body">
                <h5 class="card-title" style='text-align:center'>Register Success!!</h5>
                <div class="text-center"">
                    <a href="{% url 'home' %}" class="btn btn-primary">Back</a>
                </div>
            </div>
                    
            

        </div>
    </div>
{% endblock %}