absl-py==0.11.0
appdirs==1.4.4
asgiref==3.3.1
astroid==2.4.2
astunparse==1.6.3
autopep8==1.5.4
big-O-calculator==0.0.9.8.2
cachetools==4.1.1
certifi==2020.11.8
chardet==3.0.4
colorama==0.4.4
cycler==0.10.0
distlib==0.3.1
Django==3.1.5
filelock==3.0.12
gast==0.3.3
google-auth==1.23.0
google-auth-oauthlib==0.4.2
google-pasta==0.2.0
grpcio==1.33.2
h5py==2.10.0
idna==2.10
imageai==2.1.5
isort==5.6.4
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
lazy-object-proxy==1.4.3
Markdown==3.3.3
matplotlib==3.3.3
mccabe==0.6.1
mysql-connector-python==8.0.22
numpy==1.18.5
oauthlib==3.1.0
opt-einsum==3.3.0
pandas==1.1.3
pbr==5.5.1
pep8==1.7.1
Pillow==8.0.1
pipenv==2020.11.15
protobuf==3.14.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.6.0
pylint==2.6.0
PyMySQL==1.0.2
pyparsing==2.4.7
pypiwin32==223
python-dateutil==2.8.1
pytz==2020.1
pywin32==300
requests==2.25.0
requests-oauthlib==1.3.0
rope==0.18.0
rsa==4.6
scipy==1.5.4
six==1.15.0
sqlparse==0.4.1
stevedore==3.3.0
tensorboard==2.4.0
tensorboard-plugin-wit==1.7.0
tensorflow-estimator==2.3.0
termcolor==1.1.0
toml==0.10.2
urllib3==1.26.2
virtualenv==20.4.0
virtualenv-clone==0.5.4
virtualenvwrapper==4.8.4
virtualenvwrapper-win==1.2.6
Werkzeug==1.0.1
win10toast==0.9
wrapt==1.12.1
